/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f9f9ff;
  color: #111;
  line-height: 1.6;
}

/* Containers */
.container {
  width:90%;
  max-width:1200px;
  margin:0 auto;
}

/* Buttons */
.btn{
  background: #3b4ffe;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background: #2d38c4;
}

.btn{
  padding: 8px 16px;
  font-size: 0.9rem;
}

/* Header */
.container {
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px 0;
}

.header .logo {
  color: #3b4ffe;
  font-weight:bold;
  font-size:1.5rem;
}

/* Hero Section */
.hero_content{
  text-align: center;
  padding: 80px 0 60px;
}

.hero_content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.top{
    background-image: url(./Assets/Hero-bg.png);
}

/* See it in Action */
.see_action {
  padding: 100px 150px;
}

.action{
  display: flex;
  justify-content: space-between;
}

.action-text {
  max-width: 350px;
}

.action-text h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.action-text p {
  margin-bottom: 20px;
  color: #555;
  opacity: 60%;
  font-size: 1.4;
}

.img2{
    width:40%;
    max-width: 400px;
  border-radius: 10px;
}

.action-img img {
   height: 150px;
  max-width: 150px;
  border: 1px solid #ddd;
  border-radius: 50%;
}



/* Stats */
.stats {
  background: #eef0ff;
  padding: 40px 200px;
  margin:0 250px;
  border: 1px solid #ddd;
  border-radius:20px; 
}
.rate{
    text-align: center;
    size: 70px;
}
.stats-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.stat-item {
  text-align: center;
  margin: 10px;
}
.stat-item h3 {
  font-size: 2rem;
  color: #3b4ffe;
}
.stat-item p {
  color: #333;
}

/* what user say */
.ratings {
  padding: 60px 0;
}
.star{
    margin-bottom: 12px;
}
.ratings h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}
.rating-list {
  display: flex;
  gap: 20px;
  /* height: 300px; */
  justify-content: center;
  flex-wrap: wrap;
}
.rating-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 300px;
}
.rating-card p {
  margin-bottom: 15px;
}
.rating-author {
 margin-top: 5px;
 margin-bottom: 5px;
}
.rating-author h4 {
  font-weight: 600;
  
}

.img-section {
  display: flex;
  justify-content:space-between;
  
}
